.bottom-navbar {
    animation: rightToLeft 0.3s ease-out forwards;
}

@keyframes rightToLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}