table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #dcdcdc91;
    border-radius: 20px;
    overflow: hidden;
}

table th, table td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #dcdcdc91;
}

tr:last-child td {
    border-bottom: none;
}

table th {
    background-color: #f2f2f2;
    color: #2e2e2e9e;
    font-weight: 500;
}

table tr:hover {
    background-color: #f7fff7;
}